/* Garante que o dropdown de notificações tenha uma largura mínima e máxima e seja rolável */
.dropdown-menu {
  width: 350px;
  max-width: 90vw;
  padding-top: 0;
  padding-bottom: 0;
}

.notification-list-container {
  max-height: 400px; /* Altura máxima antes de a barra de rolagem aparecer */
  overflow-y: auto;
}

/* Estilo para o botão do ícone */
.btn-icon {
  background: transparent;
  border: none;
  color: var(--bs-body-color); /* Usa a cor de texto padrão do corpo */
}

.btn-icon:hover {
  background-color: var(--bs-gray-200); /* Um fundo sutil ao passar o mouse */
}

/* Melhorando a aparência do item de notificação */
.notification-item span {
  white-space: normal; /* Permite que o texto da notificação quebre a linha */
  line-height: 1.4;
}

/* Estilo de hover para os itens na lista */
.dropdown-item:hover {
  background-color: #f8f9fa;
}
