.app-footer {
  overflow: hidden;
  padding: 1.5rem 0;
  color: #fff;

  background: linear-gradient(135deg, #0bc29a 0%, #0011fe 50%, #071847 100%);
  background-size: 300% 300%;
  animation: gradientShift 12s ease-in-out infinite;
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

