:root {
    --bs-primary: #0056b3;
    --bs-success: #28a745;
    --bs-danger:  #a50010;
}

:root {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

