<app-header-component> </app-header-component>

<div class="container-fluid mb-5 ">

  <div class="container-fluid mb-4"> 
  <app-sumary></app-sumary>
</div>


  <div class="row g-4">
    <div class="col-lg-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Distribuição por Status</h5>
          <div class="position-relative" style="height:300px">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartData.labels"
                    [type]="pieChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Prioridade das Tarefas</h5>
          <div class="position-relative" style="height:300px">
            <canvas baseChart
                    [data]="barChartData"
                    [labels]="barChartData.labels"
                    [type]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <app-footer-component class="footer mt-auto"></app-footer-component>